<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luxand.bubble">
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.luxand.bubble.mainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--여기는 스플래시 액티비티입니당-->
        <activity
            android:name="com.luxand.bubble.mainActivity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--여기까지 스플래시인데 오류가있다면 말해주세용-->

        <activity
            android:name="com.luxand.bubble.mainActivity.BubblingPhotoActivity"
            android:label="@string/photo"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
        android:name="com.luxand.bubble.mainActivity.BubblingFolderActivity"
        android:label="@string/folder"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.luxand.bubble.mainActivity.AllalbumActivity"
            android:label="@string/allalbum"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.luxand.bubble.mainActivity.BubblingMemoActivity"
            android:label="Memo"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.luxand.bubble.mainActivity.BubblingFaceActivity"
            android:label="Face"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name="com.luxand.bubble.howtoUseActivity.HowtoUseActivity"
            android:label="Howtouse"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.luxand.bubble.mainActivity.PhotoPopupActivity"
            android:label="@string/photopopup"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name="com.luxand.bubble.howtoUseActivity.HowtoPhotoActivity"
            android:label="HowtousePhoto"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name="com.luxand.bubble.howtoUseActivity.HowtoGalleryActivity"
            android:label="HowtouseGallery"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name="com.luxand.bubble.howtoUseActivity.HowtoFolderActivity"
            android:label="HowtouseFolder"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name="com.luxand.bubble.howtoUseActivity.HowtoMemoActivity"
            android:label="HowtouseMemo"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name="com.luxand.bubble.howtoUseActivity.HowtoFaceActivity"
            android:label="HowtouseFace"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>